.main_container {
  max-width: 1950px;
  margin: 35px;
  padding: 25px;
  gap: 1rem;
  border-radius: 10px;
  justify-content: center;
  display: flex;
  min-height: 100vh;
}
.todo {
  width: 350px;
  text-align: center;
  border: 1px solid black;
  border-radius: 10px;
  background-color: #6495ed;
  padding: 10px 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.doing {
  width: 350px;
  text-align: center;
  border: 1px solid black;
  border-radius: 10px;
  background-color: #ffd580;
  padding: 10px 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.review {
  width: 350px;
  text-align: center;
  border: 1px solid black;
  border-radius: 10px;
  background-color: #c6fcff;
  padding: 10px 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.done {
  width: 350px;
  text-align: center;
  border: 1px solid black;
  border-radius: 10px;
  background-color: #9ade7b;
  padding: 10px 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.todo_create_Button {
  display: flex;
  justify-content: flex-end;
  gap: 150px;
  color: black;
}
.doing_create_Button {
  display: flex;
  justify-content: flex-end;
  gap: 150px;
}

.createFlatIconBtn_todo {
  background-color: #6495ed;
  border: none;
}
.createFlatIconBtn_doing {
  background-color: #ffd580;
  border: none;
}
.createFlatIconBtn_review {
  background-color: #c6fcff;
  border: none;
}
.createFlatIconBtn_done {
  background-color: #9ade7b;
  border: none;
}
