.cards_size {
  background-color:#e0e0e0;
  padding: 5px;
  border-radius: 5px;
}
.empty_card{
  height: 35px;
   display: flex;
  align-items:last baseline;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
}

.top_left_card {
  display: flex;
  justify-content: space-between;
  align-items: last baseline;
}
.card_center_content{
  line-height: 1;
  height: 55px;
  display: flex;
  padding: 2px;
  margin: 5px;
  align-items: flex-start;
border-bottom: 1px solid black;
}
small {
  padding: 2px;
  margin: 2px;
}
span {
  padding: 3px;
  margin: 3px;
  font-size: 18px;
}
#basic-button {
  width: 10px;
  display: flex;
  justify-content: flex-end;
}

.top_right_avatars {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}

 
.menu_Drawer{
  padding: 5px;
  margin:5px;
   
}

.colorPalet_circle{
  width: 5px;
  height: 5px;
  border-radius: 50%;
  margin: "2px";
  padding: "2px";
   
   
 

}
.Create_colorPalet_circle{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: "2px";
  padding: "2px";
  border: none;
}
 .colorPalet_circle_btn{
  background: none;
  background-color: transparent;
 }
